<ion-view view-title="Portfolio Details">
  <ion-content>
      <div class="card">
          <div class="item item-body item-text-wrap">
               <h2><span class="panel panel-default">{{portfolio.name}}</span></h2>
                <br><br>
          </div>
      </div>
      <div class="row">
            <div class="col col-offset-10">
                   <h4>Positions: </h4>
				   <br><br>
                    <ul class="list">
                        <li ng-repeat="item in portfolio.items">
                          <blockquote>
                             <h4 class="media-heading">{{item.name}} - {{item.ticker}} <span class="label label-danger label-xs">{{item.lastPrice}}</span></h4>
                          </blockquote>
                        </li>
                    </ul>
					<div class="">
						<form ng-submit="addItem()">
							<div class="form-group">
								<select name="securitySelect" id="securitySelect" ng-model="securitySelect" ng-options="sec.name for sec in securities">
								</select>
							</div>
							<button type="submit" class="btn btn-info btn-sm">Add Security</button>
						</form>
					</div>
            </div>
      </div>
  </ion-content>
</ion-view>
